$navbar-height: 96px;
// Colors
$primary-color: #fff;
$secondary-color: rgba(51, 51, 51, 0.7);
$bodyC: #f5f5f5;
$taskdesc: #757d86;
$highBckg: #f0d2d2;
$highC: #d05955;
$medC: #de994d;
$medBckg: #f5e6d2;
$lowBckg: #cfcfcf;
$lowC: #707780;
$toDoC: #3c64d7;
$progC: #dc872d;
$revC: #8c46be;
$doneC: #419673;
$KanIconC: #3c64d7;
$inputBckg: rgba(71, 98, 255, 0.08);
$inputC: #979797;
// Responsive
$mobile-width: 768px;
$tablet-width: 1024px;
$sm-screen-width: 600px;
$md-screen-width: 900px;
$lg-screen-width: 1200px;
$xl-screen-width: 1536px;
// fonts
$font-Inter: "Inter-Regular";
$font-Inter-Bold: "Inter-Bold";
$font-Inter-ExtraBold: "Inter-ExtraBold";
$font-Inter-Thin: "Inter-Thin";
