@use "../Styles/variables" as *;
@use "../Styles/mixins" as *;

.taskCont{
    @include flex;
    @include flex-row;
    @include justify-center;
    @include gap-x-3;
    @include w-full;
    padding: 2em;
    @include large-screen{
        padding: 1em;
        @include flex-row-vp;
        @include gap-y-6;
    }
}

.taskCont > div:nth-child(1){
    @include flex;
    @include flex-row;
    @include justify-between;
    @include gap-x-3;
    width: 50%;
    @include large-screen{
        @include w-full;
    }
}

.taskCont > div:nth-child(1) > div:nth-child(1){
    @include large-screen{
        width: 50%;
    }
    @include small-screen{
        width: 100%;
    }
}

.taskCont > div:nth-child(1) > div:nth-child(2){
    @include large-screen{
        width: 50%;
    }
    @include small-screen{
        width: 100%;
    }
}


.taskCont > div:nth-child(2){
    @include flex;
    @include flex-row;
    @include justify-between;
    @include gap-x-3;
    width: 50%;
    @include large-screen{
        @include w-full;
    }
}

.taskCont > div:nth-child(2) > div:nth-child(1){
    @include large-screen{
        width: 50%;
    }
}

.taskCont > div:nth-child(2) > div:nth-child(2){
    @include large-screen{
        width: 50%;
    }
}